@CHARSET "ISO-8859-1";


.firstpanel{
	background-color: gray;
	color: white;
	width: 40vw;
	height: 5vh;
	margin-left: 10%;
}


.panel1para{
	width: 40vw;
	display: none;
    overflow: hidden;
	margin-left: 10%;
}


.dipslay{
	
	overflow: visible;
}

.panel2para{
	width: 40vw;
	display: none;
    overflow: hidden;
	margin-left: 10%;
	
}



@media screen and (max-width:500px){
	
	.panel1para{
	width: 60vw;
	display: none;
    overflow: hidden;
	margin-left: 5%;
}
	
	
	.panel2para{
	width: 60vw;
	display: none;
    overflow: hidden;
	margin-left: 5%;
	
}

.firstpanel{
	background-color: gray;
	color: white;
	width: 60vw;
	height: 5vh;
	margin-left: 5%;
}
	
	
	
	
	}

