@CHARSET "ISO-8859-1";

.container{
	
	background-color:#6495ED;
	height: 80vh;
	width: 80vw;
	margin-left: 10%;
}


.heading{
	background-color: #E0FFFF;
	height: 10vh;
	width: 60vw;
	margin-left: 10%;
	
	text-align: center;
	color: black;
}

.textcontainer{
	margin-top:5%;
	margin-left: 5%;
	flex-direction:column;
}

.text{
	
	font-size: 180%;
	text-shadow: black;
	font-style: italic;
	
}


/*.ptag{
	border-bottom: thick;
	border-color: aqua;
}*/


.textfonts{
	
	background-color: #DAA520;
	
}


@media screen and (max-width:500px){
	
	.heading{
	margin-top:10%;
	text-align: center;
	color: black;
	font-size: 80%;
}
	
	.text{
	
	margin-top:20%;
	font-size: 130%;
	text-shadow: black;
	font-style: italic;
	
}
	
	
}
