@CHARSET "ISO-8859-1";

.container{
	
	background-color:#6495ED;
	height: 60vh;
	width: 50vw;
	margin-left: 20%;
}


.heading{
	background-color: #E0FFFF;
	height: 10vh;
	width: 45vw;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	color: black;
}

.textcontainer{
	margin-top:5%;
	margin-left: 5%;
	flex-direction:column;
}

.text{
	
	font-size: 180%;
	text-shadow: black;
	font-style: italic;
	
}


/*.ptag{
	border-bottom: thick;
	border-color: aqua;
}*/


.textfonts{
	
	background-color: #DAA520;
	
}



